.pageHeader{
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: left;
}

.left{
    display: flex;
    justify-content: left;
}