.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75px;
    margin-bottom: 10px;
    box-shadow: powderblue;
    border-bottom: darkgray solid 1px;
}

.logo-container {
    display: flex;
    height: 75px;
    width: 75px;
    img {
        margin: auto;
        height: 50px;
        width: 50px;
    }
}

.app-name-container {
    display: flex;
    line-height: 75px;
}