.pageHeader{
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
}

.headerSearch {
    display: flex;
    min-height: 5vh;
    border-radius: 15px;
    box-shadow: none;
}